{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{#    <script src="/static/js/jquery.scrolly.min.js"></script>#}
{#    <script src="/static/js/jquery.dropotron.min.js"></script>#}
{#	<script src="/static/js/jquery.scrollex.min.js"></script>#}
{#	<script src="/static/js/skel.min.js"></script>#}
{#	<script src="/static/js/skel-layers.min.js"></script>#}
{#	<script src="/static/js/init.js"></script>#}
    <link rel="stylesheet" href="/static/styles/styles.css"/>
{#    <link rel="stylesheet" href="/static/styles/skel.css" />#}
{#	<link rel="stylesheet" href="/static/styles/style.css" />#}
{#	<link rel="stylesheet" href="/static/styles/style-xlarge.css" />#}
    <title>{% block title %}Chef{% endblock %}</title>
    <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.scrolly.min.js"></script>
  <link rel="stylesheet" href="/resources/demos/styles.css">
</head>
<body>

<div id="header">
{#    <div id="logo">#}
{#    </div>#}
    <div id="title">
        <h1>{% block page_title %}Short Staffed PDX{% endblock %}</h1>

        <h2> {% block page_subtitle %}Connecting Restaurants with temporary staff{% endblock %}</h2>
        {% if user.is_authenticated %}
            <h2>Hello {{ user.username }}!</h2>
        {% else %}
            <h2>Hello to you</h2>
        {% endif %}
    </div>
</div>

<div id="nav">

    {% block sidebar %}
        {% if user.is_authenticated %}
            <h3><a href="{% url 'logout' %}">LOGOUT</a></h3><br/>
        {% else %}
            <h3><a href= "{% url 'login' %}">LOGIN</a></h3><br>

        {% endif %}

        <h3><a href="{% url 'facts_page' %}">FAQS PAGE</a></h3><br>

        <h3><a href= "{% url 'mainpage' %}">HOME PAGE </a></h3><br/>

    {% endblock %}
</div>

<!-- New line -->

<div id="content">
{% block menu %}{% endblock %}
    <div id="mainimage"><img src="{% static "images/Untitled design-2.jpg" %}" alt="Picture of Restaurant staff"/></div>

{#    <h2> {% block page_name %}{% endblock %}</h2>#}
{% block content %}{% endblock %}

</div>
{% block cta %}{%  endblock %}
{% block footer %}
<div id="footer">
    <div id="footertwo">
        Copyright © Short Staffed
    </div>
    <div id="footerthree">
       <a href="{% url 'contact_us' %}" class="button">CONTACT US </a>
    </div>
{#  <div id = "footerfour>"#}
{#    <a href="https://twitter.com/mimosa_deli" class="twitter-follow-button" data-show-count="false">Follow @ShortStaffed</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>#}
{#    </div>#}
</div>
{%  endblock %}
</body>
</html>
