{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/styles/styles.css"/>
    <title></title>
    <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{#  <script src="{% static 'js/jquery.min.js' %}"></script>#}
  <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
</head>

<div class = "outer">
{#<div style="display: inline-block;">#}
            <div id="nav">
        {% if user.is_authenticated %}
           <h3><a href="{% url 'logout' %}" class="button">LOGOUT</a></h3><br/>
        {% else %}
            <h3><a href= "{% url 'login' %}" class="button">LOGIN</a></h3><br>
        {% endif %}

        <h3><a href="{% url 'facts_page' %}"class="button">FAQS PAGE</a></h3><br>

        <h3><a href= "{% url 'mainpage' %}"class="button">HOME PAGE </a></h3><br/>
            </div>


    <div id ="inner">
    <div id="header">
    <div><img src="{% static "images/Untitled design-2.jpg" %}"></div>
    <div id="transbox">
    <div class = "transbox p">
        <h1> Short Staffed PDX </h1>
        <br>
        <h3>Connecting restaurants with short term staff</h3>
        </div>
            </div>


{% block menu %}
{% block horizontalbar %}
{#<div id = "headbar">#}
</div>
<br>
{% endblock %}
{% endblock %}

<div class="body">{% block content %}{% endblock %}
{% block cta %}{%  endblock %}

</div>
</div>
</div>
{% block footer %}
<div id="footer">
{#    <div class="footerboxes">#}
{#       <a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>#}
{#       <a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>#}
{#       <a href="#" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>#}
{#       <a href="#" class="icon-button youtube"><i class="fa fa-youtube"></i><span></span></a>#}
{#       <a href="#" class="icon-button pinterest"><i class="fa fa-pinterest"></i><span></span></a>#}
<br>

    <div class="footerboxes">
        Copyright © Short Staffed
        <br>
       <a href="{% url 'contact_us' %}" class="button">CONTACT US </a>
       <br>
       <a href="https://twitter.com/mimosa_deli" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @mimosa_deli</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
       <br>
{#       <a href="https://twitter.com/mimosa_deli' %}"" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>#}
{#       <br>#}
{#       <a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>#}
{#       <br>#}
{#       <a href="#" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>#}

</div>
</div>
{%  endblock %}

</html>
