{% extends "base.html" %}
{#{% load crispy_forms_tags %}#}

{% block page_subtitle %}Edit Settings{% endblock %}

{% block menu %}

    <div id="headbar">

        {% block horizontalbar %}

            <a href="{% url 'userprofilepage' %}" class="button">Profile Page</a>
            <a href="{% url 'edit_settings_user' %}" class="button">Edit Settings</a>
            <a href="{% url 'jobs_board' %}" class="button">Jobs Board</a>
            <a href="{% url 'inbox' #}" class="button">Inbox</a>
            <a href="{% url 'jobs_pending_user' %}" class="button">Jobs Pending</a>

        {% endblock %}
    </div>

{% endblock %}
    {% block content %}


    </div>
    <div id="postform">
            <h1>Fill in your profile</h1>
            <form method="POST" >
            {% csrf_token %}
                <frameset id="frame">
                    <label>
                        <div> Name: </div>
                        <textarea style="width: 300px; height: 30px" name="name" type="text"></textarea>
                    </label>
                        <br>
                        <label>
                        <div> What type of Restaurant professional are you? : </div>
                        <input type="radio" name="type" value="Chef">Chef
                        <input type="radio" name="type" value="Bartender">Bartender
                        <input type="radio" name="type" value="Server">Server
                        <input type="radio" name="type" value="Dishwasher">Dishwasher
                    </label>
                    <br>
                        <label>
                        <div>Job Description: </div>
                        <textarea style="width: 300px; height: 30px" name="job_description" type="text"></textarea>
                    </label>
                        <br>
                        <label>
                        <div> List of restaurants you have worked at: </div>
                        <textarea style="width: 300px; height: 30px" name="previous_restaurants" type="text"></textarea>
                    </label>
                        <br>
                         <label>
                        <div> Job Titles Held: </div>
                        <textarea style="width: 300px; height: 30px" name="job_titles_held" type="text"></textarea>
                    </label>
                    <br>
                    <label>
                        <div> Number of Years in Industry: </div>
                        <input type="radio" name="years" value="1">One to Three
                        <input type="radio" name="years" value="2">Three to Five
                        <input type="radio" name="years" value="3">Six to Eight
                        <input type="radio" name="years" value="4">Ten +
                    </label>
                    <br>
                    <label>
                        <div> About Me: </div>
                        <textarea style="width: 300px; height: 60px" name="about_me" type="text" maxlength="300"></textarea>
                    </label>
{#                    <label>#}
{#                        <div> Upload Profile Picture: </div>#}
{#                        <img name="profile_picture" type="image" ></img>#}
{#                    </label>#}
{#                    <label>#}
                <div><h2><input type="submit" name="submit" value="Update your profile"></h2></div>
            </form>

{% endblock %}

