{% extends "base.html" %}

{% block page_subtitle %}Jobs Board{% endblock %}

{% block menu %}

    <div id="headbar">

        {% block horizontalbar %}

            <a href="{% url 'userprofilepage' user.id %}" class="button">Profile Page</a>
            <a href="{% url 'edit_settings_user' user.id %}" class="button">Edit Settings</a>
            <a href="{% url 'jobs_board' %}" class="button">Jobs Board</a>
            <a href="{% url 'inbox' #}" class="button">Inbox</a>
            <a href="{% url 'jobs_pending_user' %}" class="button">Jobs Pending</a>

        {% endblock %}
    </div>

{% endblock %}

{% block content %}
<div>
{% for j in jobs %}

<div class="job_tile">
<h3>{{ j.name_of_job }}<br></h3>
{{ j.type }}<br>
{{ j.restaurant_name }}<br>
{{ j.date_of_job }}<br>
{{ j.type_of_worker }}<br>
{{ j.description }}<br>
<h2><a href="/apply_for_a_new_job/{{ j.id }}/">APPLY</a></h2>
<h2><a href="/restaurantprofilepageview/{{ j.poster.id }}/">SEE PROFILE</a></h2>
</div>
{% endfor %}
</div>
{% endblock %}
