{% extends "chef/../base.html" %}

{% block content %}
        {% if registered %}
        Guest Chef says: <strong>thank you for registering!</strong>
        <a href="/chef">Return to the homepage.</a><br />
        {% else %}
            <strong>Register here!</strong><br />

        <div id="postform">
        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        </div>

         <div id="postform">
            <h1>Fill in your profile</h1>
            <form method="POST" >
            {% csrf_token %}
                <frameset id="frame">
                    <label>
                        <div> Name: </div>
                        <textarea style="width: 300px; height: 30px" name="first_name" type="text"></textarea>
                    </label>
                        <br>
                        <label>
                        <div>Job Description: </div>
                        <textarea style="width: 300px; height: 30px" name="job_description" type="text"></textarea>
                    </label>
                        <br>
                        <label>
                        <div> List of restaurants you have worked at: </div>
                        <textarea style="width: 300px; height: 30px" name="previous_restaurants" type="text"></textarea>
                    </label>
                        <br>
                         <label>
                        <div> Job Titles Held: </div>
                        <textarea style="width: 300px; height: 30px" name="job_titles_held" type="text"></textarea>
                    </label>
                    <br>
                    <label>
                        <div> Number of Years in Industry: </div>
                        <input type="radio" name="Years"> 1-3 Yrs
                        <input type="radio" name="Worker">3-5 Yrs
                        <input type="radio" name="Worker">5-8 Yrs
                        <input type="radio" name="Worker">10+ Yrs
                    </label>
                    <br>
                    <label>
                        <div> About Me: </div>
                        <textarea style="width: 300px; height: 60px" name="about_me" type="text" maxlength="300"></textarea>
                    </label>
                    <label>
                </frameset>
                <div><h2><input type="submit" name="submit" value="Update your profile"></h2></div>
            </form>


        {% endif %}
{% endblock %}
