{% extends "base.html" %}

{% block page_subtitle %}Restaurant Profile Page{% endblock %}

{% block menu %}

    <div id="headbar">

        {% block horizontalbar %}
            <a href="{% url 'restaurantprofilepage' %}" class="button">Profile Page</a>
            <a href="{% url 'edit_settings_restaurant' %}" class="button">Edit Settings</a>
            <a href="{% url 'jobs_pending' %}" class="button">Jobs Pending</a>
            <a href="{% url 'add_a_new_job' %}" class="button">Add New Job</a>
            <a href="{% url 'inbox' %}" class="button">Inbox</a>
            <a href="{% url 'buy_credit' %}" class="button">Buy Credit</a>
            <a href="{% url 'previous_jobs' %}" class="button">Previous Jobs</a>

        {% endblock %}
  </div>

        {% endblock %}

        {% block content %}
<h2>Welcome {{ user.username }}<br>
{{ restaurant.Name_Restaurant }}
This is your Profile Page</h2>
<input value="{{ restaurant.Name_Restaurant }}"/><br>
<input value="{{ restaurant.restaurant_address }}"/><br>
<input value="{{ restaurant.Main_contact_name }}"/><br>
<input value="{{ restaurant.contact_number }}"/><br>
<input value="{{ restaurant.contact_email }}"/><br>
<input value="{{ restaurant.food_style }}"/><br>
<input value="{{ restaurant.Signature_dish }}"/><br>

        {% endblock %}
