{% extends "chef/../base.html" %}

{% block page_subtitle %}{% endblock %}

{#{% block menu %}#}

{#    <div id="headbar">#}

{#        {% block horizontalbar %}#}
{#            <a href="{% url 'restaurantprofilepageview' restaurant.id %}" class="button">Profile Page</a>#}
{#            <a href="{% url 'edit_settings_restaurant' user.id %}" class="button">Edit Settings</a>#}
{#            <a href="{% url 'jobs_pending' %}" class="button">Jobs Pending</a>#}
{#            <a href="{% url 'add_a_new_job' %}" class="button">Add New Job</a>#}
{#            <a href="{% url 'inbox' %}" class="button">Inbox</a>#}
{#            <a href="{% url 'buy_credit' %}" class="button">Buy Credit</a>#}
{#            <a href="{% url 'previous_jobs' %}" class="button">Previous Jobs</a>#}
{##}
{#        {% endblock %}#}
{#  </div>#}
{#  {% endblock %}#}

{% block content %}
<div id="body>"
<h1>{{ restaurant.Name_Restaurant }}</h1>

{#Restaurant Name: {{ restaurant.Name_Restaurant }}<br>#}
<h3><em>Address:  </em><br>{{ restaurant.restaurant_address }}</h3><br>
<h3><em>Main Contact Name:  </em><br>{{ restaurant.Main_contact_name }}</h3><br>
<h3><em>Contact Number:  </em><br>{{ restaurant.contact_number }}</h3><br>
<h3><em>Contact Email:  </em><br>{{ restaurant.contact_email }}</h3><br>
<h3><em>Food Style:  </em><br>{{ restaurant.food_style }}</h3><br>
<h3><em>Signature Dish:  </em><br>{{ restaurant.Signature_dish }}</h3><br>
</div>
{% endblock %}