{% extends "base.html" %}

{% block page_subtitle %}User Profile Page{% endblock %}

{% block menu %}

    <div id="headbar">

        {% block horizontalbar %}
            <a href="{% url 'userprofilepage' user.id %}" class="button">Profile Page</a>
            <a href="{% url 'edit_settings_user' user.id %}" class="button">Edit Settings</a>
            <a href="{% url 'jobs_board' %}" class="button">Jobs Board</a>
            <a href="{% url 'inbox' #}" class="button">Inbox</a>
            <a href="{% url 'jobs_pending_user' %}" class="button">Jobs Pending</a>
{#            <a href="{% url 'buy_credit_user' %}" class="button">Buy Credit</a>#}

        {% endblock %}

    </div>

{% endblock %}

{% block content %}
<div id="body">
<h1>User Profile Page</h1>

<p>Welcome to your personal profile page. <br>
Navigate through the different sections of the site using the headbar above </p>

</div>
{% endblock %}


