{% extends "chef/../base.html" %}

{% block page_subtitle %}{% endblock %}

{% block menu %}

    <div id="headbar">

        {% block horizontalbar %}
            <a href="{% url 'restaurantprofilepage' %}" class="button">Profile Page</a>
            <a href="{% url 'edit_settings_restaurant' %}" class="button">Edit Settings</a>
            <a href="{% url 'jobs_pending' %}" class="button">Jobs Pending</a>
            <a href="{% url 'add_a_new_job' %}" class="button">Add New Job</a>
            <a href="{% url 'inbox' %}" class="button">Inbox</a>
            <a href="{% url 'buy_credit' %}" class="button">Buy Credit</a>
            <a href="{% url 'previous_jobs' %}" class="button">Previous Jobs</a>

        {% endblock %}
  </div>
  {% endblock %}

{% block content %}

<div class="value">
<h1>Name: {{ worker.name }}</h1><br>
<h3><em>Description of my skills:     </em><br>{{ worker.job_description }}</h3><br>
<h3><em>I am a:    </em><br>{{ worker.role }}</h3><br>
<h3><em>Previous Restaurants I have worked at:     </em><br>{{ worker.previous_restaurants }}</h3><br>
<h3><em>Job Titles I have held:     </em><br>{{ worker.job_titles_held }}</h3><br>
<h3><em>Years in the restaurant industry:     </em><br>{{ worker.years }}</h3><br>
<h3><em>A little bit about me:     </em><br>{{ worker.about_me }}</h3><br>
</div>

{% endblock %}
