/**{*/
/*border:1px solid #000000;*/
/*padding:5px;*/
/*margin:5px;*/
/*}*/

body {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    font-family: Lucida Console, monospace;
    background-color: #FFBE65;
    max-width: calc(100% - 150px);
}

.outer {
    background-color: #FFBE65;
    vertical-align: top;
}

#inner {
    display: inline-block;
    /*width:calc(80% - 500px);*/
    max-width: calc(100% - 150px);
    overflow: hidden;
    font-family: Lucida Console, monospace;
    vertical-align: top;
    background-color: #FFBE65;
    /*margin-left: 150px;*/
}

.input {
    width:300px; height:200px;
}


#nav {
    line-height: 70px;
    background-color: #2E80B2;
    vertical-align: top;
    /*position:fixed;*/
    color: white;
    /*height: 600px;*/
    /*width:150px;*/
    display: inline-block;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=50);
    text-height: 50px;
    /*position:relative;*/
    font-family: Lucida Console, monospace;
    min-height: 1200px;
}

#header {
    background: url(/images/Untitled design-2.jpg) repeat;
    /*border: 2px solid black;*/
    position: relative;
    display: inline-block;
    margin-left: 150px;
    margin-top: 10px;
    /*width:1000px;*/
    /*height:325px;*/
    /*height: 200px;*/
}

#transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    /*float: left;*/
    top: -3%;
    position: absolute;
    left: 5%;
    padding: 30px 50px 30px 50px;
    font-family: Lucida Console, monospace;
}

.transbox p {
    margin: 0%;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-family: Lucida Console, monospace;
}

a {
    color: darkslategrey;
}

a:link {
    text-decoration: none;
}

.button {
    opacity: 0.5%;
    filter: alpha(opacity=60);
    color: white;
    /*width:25%;*/
}

#form {
    background-color: #FFBE65;
    padding: 100px 0 15px 0;
    width: 400px;
    font-size: 20px;
}

#footer {
    background-color: #B27623;
    color: white;
    text-align: center;
    padding: 0;
    position: bottom;
    width: 100%;
    margin: 0;
}

.footerboxes {
    padding: 5px;
    /*height: 50px;*/
    /*width: 30%;*/
    display: inline-block;
    line-height: 50px;
    font-family: Lucida Console, monospace;
}

#headbar {
    line-height: 1px;
    /*width: 800px);*/
    color: white
    position: relative;
    text-align: center;
    opacity: 0.9;
    filter: alpha(opacity=50);
    font-size: 12px;
    font-family: Lucida Console, monospace;
}

.registrationform {
    height: 50px;
    width: 30px;
    background-color: #65C4FF;
    text-align: center;
    padding-left: 150px;
    margin: 30px
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/

}

#headbar a.button {
    display: inline-block;
    filter: alpha(opacity=40);
    background-color: #2E80B2;
    padding: 20px;
    margin: 5px;
    /*margin: 0 10px 0 0;*/
}

#postform {
    display: inline-block;
    font-size: 18px;
    margin: 50px 50px 50px 20px;
    width: 800px;
    opacity: 0.9;
    background-color: #B27623;
    /*filter: alpha(opacity=20);*/
    padding: 20px;
    font-family: Lucida Console, monospace;
    /*margin: 100px 0 0 0;*/
}

#postform label div {
    width: 400px;
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);;
}

#postform form div {
    width: 400px;
    display: inline-block;
    background-color: transparent;
}

#frame {
    border: 2px;
    border-color: #1F2A7F;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.button {
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
}

.job_tile {
    /*height:200px;*/
    background-color: #B27623;
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    padding: 14px;
    border-width: 3px;
    color: #000000;
    height: 270px;
    list-style-type: none;
    margin: 10px;
    position: relative;
    text-align: center;
    width: 200px;
    /*border-radius: 100px;*/
    box-shadow: 10px 10px 5px #888888;
}

.cta a {
    background-color: #2E80B2;
    height: 200px;
    width: 300px;
    color: white;
    text-align: center;
}

.cta {
    background-color: #FFBE65;
    width: 100%;
    color: white;
    text-align: center;

    padding: 70px 0 70px 0;
}

/*html {*/
/*font-size: 2.5em;*/
/*}*/
/*body {*/
/*background-color: #fff;*/
/*padding: 25px;*/
/*text-align: center;*/
/*}*/

/* Wrapper */
.icon-button {
    background-color: white;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    /*display: block;*/
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
      display:inline-block;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.6rem;
    margin: -1.3rem;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 2.6rem;
    left: 0;
    line-height: 2.6rem;
    position: absolute;
    display:inline-block;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

/*.tumblr span {*/
/*background-color: #34526f;*/
/*}*/
/*.instagram span {*/
/*background-color: #517fa4;*/
/*}*/
/*.youtube span {*/
/*background-color: #bb0000;*/
/*}*/
/*.pinterest span {*/
/*background-color: #cb2027;*/
/*}*/

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button .fa-tumblr {
    color: #34526f;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

/*.icon-button .fa-instagram {*/
/*color: #517fa4;*/
/*}*/
/*.icon-button .fa-youtube {*/
/*color: #bb0000;*/
/*}*/
/*.icon-button .fa-pinterest {*/
/*color: #cb2027;*/
/*}*/

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,

/*.icon-button:hover .fa-instagram,*/
/*.icon-button:hover .fa-youtube,*/
/*.icon-button:hover .fa-pinterest {*/
/*color: white;*/
/*}*/

@media all and (max-width: 680px) {
    .icon-button {
        display: inline-block;
        border-radius: 1.6rem;
        font-size: 0.8rem;
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
    }

    .icon-button:hover span {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 1.6rem;
        margin: -0.8rem;
    }

    /* Icons */
    .icon-button i {
        display: inline-block;
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
    }

    body {

        padding: 10px;
    }

    /*.pinterest {*/
    /*display: none;*/
    /*}*/

}

