{% extends "base.html" %}

{% block page_subtitle %}Send Message{% endblock %}

{% block menu %}

    <div id="headbar">
            <a href="{% url 'restaurantprofilepage' %}" class="button">Profile Page</a>
            <a href="{% url 'edit_settings_restaurant' %}" class="button">Edit Settings</a>
            <a href="{% url 'jobs_pending' %}" class="button">Jobs Pending</a>
            <a href="{% url 'add_a_new_job' %}" class="button">Add New Job</a>
            <a href="{% url 'buy_credit' %}" class="button">Buy Credit</a>
            <a href="{% url 'inbox' %}" class="button">Inbox</a>
            <a href="{% url 'previous_jobs' %}" class="button">Previous Jobs</a>

    </div>

{% endblock %}
